.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
}

.navbar-title {
  color: #fff;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.navbar-menu li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar-menu li a:hover {
  background-color: #555;
}
